<div class="container mt-5">
    <div class="card" >
        <div class="card-header ">Customers</div>
        <div class="card-body" *ngIf="customers">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of customers">
                        <td>{{c.id}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.mail}}</td>
                        <td>{{c.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>